.delete {
  background-color: #ddd;
  border: 1px solid transparent;
  font-size: 0.825rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.1s;
}

.delete:hover,
.delete:focus {
  outline: none;
  border-color: #333;
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
}
